@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_util.scss";
* {
  box-sizing: border-box;
}
canvas {
  max-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: $dark-500;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}
.load-more {
  margin: 30px 0 65px;
}
.btn {
  font-family: "Hiragino";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  background: $primary-300-400;
  color: #fff;
  border: 0;
  border-radius: 5px;
  min-width: 295px;
  padding: 15px;
}
