@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_util.scss";
#record-nav {
  margin: 55px 0;
  .row {
    display: flex;
    justify-content: space-between;
    margin: 0 -24px;
    .item {
      border: 24px solid $primary-300;
      width: 33%;
      margin: 0 24px 24px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;

      position: relative;

      p {
        z-index: 1;
        margin: 0 0 15px;
      }
      span {
        z-index: 1;
        background-color: #FF963C;
        min-width: 160px;
        text-align: center;
        padding: 1px 0;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        filter: grayscale(100%) sepia(30%);
        background-size: cover;
        background-position: top center;
        mix-blend-mode: luminosity;
      }
      &::after {
        content: "";
        position: absolute;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        mix-blend-mode: luminosity;
      }
      &:nth-of-type(1) {
        &::before {
          background-image: url('/assets/images/MyRecommend-1.jpg');
        }
      }
      &:nth-of-type(2) {
        &::before {
          background-image: url('/assets/images/MyRecommend-2.jpg');
        }
      }
      &:nth-of-type(3) {
        &::before {
          background-image: url('/assets/images/MyRecommend-3.jpg');
        }
      }
    }
  }
}

#my-exercise {
  margin: 56px 0;
  .container {
    .content {
      background: $dark-500;
      padding: 16px 35px 16px 24px;
    }
    .exercise-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      max-height: 240px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary-300;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: $gray-400;
        border-radius: 3px;
      }
      .item {
        width: calc(50% - 40px);
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #777777;
        margin: 0 20px;
        padding: 10px 20px 5px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 17px;
          left: 0;
          width: 7px;
          height: 7px;
          background: #fff;
          border-radius: 50%;
        }
        p.font-15.color-light {
          margin: 0;
        }
      }
    }
  }
}
.heading {
  display: flex;
  align-items: flex-start;
  .label {
    margin: 0 30px 0 0;
    line-height: 20px;
  }
}
#my-progress {
  .heading {
    background: $dark-500;
    padding: 20px 25px 0;
  }
  ::ng-deep {
    .body-fat {
      background: $dark-500;
      &--chart {
        height: auto;
      }
    }
    canvas {
      width: 100%!important;
    }
  }
  .btn-list {
    background: $dark-500;
    padding: 10px 30px 25px;
    span {
      min-width: 56px;
      display: inline-block;
      border-radius: 11px;
      background: $light;
      color: $primary-300;
      text-align: center;
      margin: 0 20px 0 0;
      cursor: pointer;
      padding: 0;
      &.active {
        background: $primary-300;
        color: $light;
      }
    }
  }
}
#my-diary {
  .container {
    .row {
      margin: 0 -6px;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      .item {
        width: calc(25% - 12px);
        margin: 0 6px 12px;
        border: 2px solid #707070;
        padding: 16px;
        h5 {
          font-weight: 400;
          margin: 0 0 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 980px) {
  #record-nav {
    .row {
      flex-wrap: wrap;
      .item {
        width: 100%;
        aspect-ratio: auto;
        height: 170px;
        p {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  #my-exercise .container .exercise-list .item {
    width: 100%;
  }
  #my-diary .container .row .item {
    width: calc(50% - 12px);
  }
}
