<div *ngIf="showScrollToTopButton" class="scroll-top pointer" (click)="scrollToTop()">
  <img src="/assets/images/component_scroll.svg" alt="Logo">
</div>
<footer>
  <nav>
    <div class="container">
      <ul class="flex-center-start">
        <li><a href="#" class="font-11 color-light">会員登録</a></li>
        <li><a href="#" class="font-11 color-light">運営会社</a></li>
        <li><a href="#" class="font-11 color-light">利用規約</a></li>
        <li><a href="#" class="font-11 color-light">個人情報の取扱について</a></li>
        <li><a href="#" class="font-11 color-light">特定商取引法に基づく表記</a></li>
        <li><a href="#" class="font-11 color-light">お問い合わせ</a></li>
      </ul>
    </div>
  </nav>
</footer>
